{% extends "layouts/student_base.html" %}

{% block title %}Student Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-card">
        {% if student_obj %}
        <h2>{{ student_obj.first_name }} {{ student_obj.last_name }}</h2>
        <p><strong>Reg. Number:</strong> {{ student_obj.student_id }}</p>
        <p><strong>E-Mail:</strong> {{ student_obj.email }}</p>
        {% endif %}
    </div>

    <div class="details-section">
        <h3>Personal Information</h3>
        {% if student_obj and program %}
        <form class="details-grid">
            <label>Student ID</label>
            <input type="text" name="student_id" value="{{ student_obj.student_id }}" readonly>

            <label>First Name</label>
            <input type="text" name="first_name" value="{{ student_obj.first_name }}" readonly>

            <label>Last Name</label>
            <input type="text" name="last_name" value="{{ student_obj.last_name }}" readonly>

            <label>Phone</label>
            <input type="text" name="phone" value="{{ student_obj.contact }}" readonly>

            <label>Program</label>
            <input type="text" name="program_name" value="{{ program.program_name }}" readonly>

            <label>Admission Date</label>
            <input type="text" name="admission_date" value="{{ student_obj.admission_date }}" readonly>

            <label>Admission Session</label>
            <input type="text" name="admission_session" value="{{ student_obj.admission_session }}" readonly>
        </form>
        
        
        {% endif %}
    </div>
</div>
{% endblock %}