<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global_style.css') }}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
   <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/logo.jpg') }}">

   <title>Welcome</title>
</head>
<body>
    <div class="container center-content">
        <form action="/main_view" method="POST">
            <div class="form-buttons">
                <button type="submit" name="student">
                <i class="fa-solid fa-user-graduate"></i> Student Portal
            </button>
                <button type="submit" name="teacher">
                <i class="fa-solid fa-chalkboard-teacher"></i> Teacher Portal
            </button>
            </button>
                <button type="submit" name="admin">
                <i class="fa-solid fa-user-shield"></i> Admin Portal
            </button>
            </div>
        </form>
        <div class="form-links">
            <p>New user? <a href="/user_signup">Sign Up Here</a></p>
        </div>
    </div>
</body>
</html>